<div>
 <h1>Product App</h1>

 <a  routerLink="/"
     class="button"
     routerLinkActive="success"
     [routerLinkActiveOptions]="{exact: true}"
 >
    Home
</a>


  <a  routerLink="/products"
      class="button"
      routerLinkActive="success"
  >
    Products
  </a>


  <a  routerLink="/about"
       class="button"
       routerLinkActive="success"
    >
    About
    </a>

    <a  routerLink="/contact"
    class="button"
    routerLinkActive="success"
    >
        Contact
    </a>


    <a  routerLink="/login"
    class="button"
    routerLinkActive="success"
    >
        Login
    </a>

    <span >
        Likes: {{likes}}
    </span>

</div>