<h2>Product List</h2>
 
<table>
  <tbody>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Year</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>


    <tr *ngFor="let product of products">
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.year}}</td>

      <td>
        <button >
           Delete
        </button>
      </td>

      <td>
        <a [routerLink]="['/products', 'edit',  product.id]" class="button">
          Edit
        </a>
      </td>
    </tr>
 

  </tbody>
</table>