<h2>Product Edit- {{product.name}}</h2>

<button (click)="gotoHome()">
  Home
</button>

<!-- NgForm automatically added -->
 

<form (ngSubmit)="saveProduct()" 
      #productForm="ngForm"
>


<p *ngIf="productForm.invalid">
  form is invalid
</p>


<p *ngIf="productForm.dirty">
  form is changed
</p>



 Name
 <input name="name" 
        [(ngModel)]="product.name"

        required
        minlength="2"

        #productName="ngModel"
  />

  <p *ngIf="productName.invalid">
    Name is invalid
  </p>


  <p *ngIf="productName.dirty">
    Name is changed
  </p>


  Price
 <input name="price" 
        [(ngModel)]="product.price"

  />

  Year
 <input name="year" 
        [(ngModel)]="product.year"

        pattern="[0-9]{4}"

  />

  Brand
  <select name="brandId"
          [(ngModel)]="product.brandId">
    <option *ngFor="let brand of brands"
            [value]="brand.id">
        {{brand.name}}      
    </option>

  </select>

  <button type="submit">
    Save
  </button>


</form>