<div>
    <!-- composition -->
    <app-header>
    </app-header>

     
    <!-- view place holder/container -->
    <!-- router shall insert views -->
    <router-outlet>

    </router-outlet>




    <!-- parent pass data to child -->
    <!-- [] means expression -->
    <app-footer [year]="currentYear + 1" 
                x-company="Angular App"
                [address]="{'city': 'BLR'}"
                (contactEvent)="onContactUs($event)"
                >

    <!-- content child -->

    <p>Contact us between 8:00 AM to 5:00 PM</p>
    <p> Bangalore</p>

    </app-footer>

</div>